/* type selectors */

article,
section,
figure,
footer,
header,
nav,
aside {
    display: block;

}

html {
    background-color: white;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;

    width: 962px;
    background-color: white;
    margin: 15px auto;
    padding: 15px 25px;
    border: 1px solid black;


}

section,
aside,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

section,
aside {
    margin-top: 1.5em;
    margin-bottom: 1em;
    display: inline-block;
    float: right;
}

h1 article {
    font-size: 2em;
    width: 60%;

}

h2 {
    font-size: 1.2em;
    width: 80%;
}

a {
    font-weight: bold;
}

a:link {
    color: green;
}

a:visited {
    color: green;
}


a:hover,
a:focus {
    color: #ef9c00;
}

ul {
    margin-left: 1.5em;
    margin-bottom: 1.5em;
}

li {
    padding-bottom: 0.25em;
}

p {
    padding-bottom: 0.5em;
    width: 55%;


}

em {
    font-weight: bold;
}


/* the styles for the header */
header {
    padding-bottom: 2em;
    border-bottom: 2px solid #ef9c00;

}

header h1 {
    color: #ef9c00;
    text-shadow: 2px 3px 0 black;
    margin-left: 120px;
    margin-bottom: 0.25em;


}

header h2 {
    color: green;
    font-style: italic;
    margin-left: 120px;
    line-height: 40px;
}

header img {
    float: left;
}

/* the styles for the navigation bar */
#nav_bar {
    clear: left;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #ef9c00;
}

#nav_bar ul {
    margin-left: 0;
    margin-bottom: .5em;
    list-style: none;
    padding: .5em 2em 0 0;
}

#nav_bar li {
    display: inline;
    padding: 0 1.5em;
    border-right: 2px solid black;
}

#nav_bar a:visited {
    color: green;
}

#nav_bar a.current {
    color: black;
}

/* the styles for the article */
article {
    width: 560px;
    height: 100%;
    border-right: 2px solid #ef9c00;
    padding-right: 20px;
    float: right;

}

article h1 {
    margin-bottom: 0.35em;
    width: 70%;

}

article h2 {
    margin-bottom: 0.35em;
    width: 70%;
    line-height: 40px;

}

article img {
    float: left;
    margin: 0 1.5em 1em 0;
    width: 70%;

}

iframe {
    float: left;
    margin-right: 30px;


}

table,
td,
th {
    border: 1px solid #100e0e;
    text-align: center;
    padding: 8px;
    border-collapse: collapse;
}

.table a {
    text-decoration: none;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* the styles for the sidebar */
aside {
    width: 360px;
    padding-left: 20px;
    border-left: 2px solid #ef9c00;
    float: right;

}

aside h1 {
    font-size: 1.2em;
    padding-bottom: 0.5em;
}

aside h2 {
    font-size: 1em;
    color: green;
    padding-bottom: 0.5em;
}

aside p {
    margin-bottom: 0.5em;
}

contact_us id {
    margin-top: 1em;
}

/*styles for classes here*/
a.date_passed {
    color: gray;
}

/* the styles for the footer */
footer {
    clear: both;
    margin-top: 1em;
    border-top: 2px solid #ef9c00;
    padding-top: 0.7em;
}

footer p {
    font-size: 80%;
    text-align: right;
}
